<template>
    <div class="button_block">
        <button class="button_add btn btn-light" name="add">Добавить</button>
        <button class="button_edit btn btn-light" name="edit">Редактировать</button>
        <button class="button_delete btn btn-light" name="delete">Удалить</button>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Buttons component mounted.')
        }
    }
</script>
