<template>
    <div class="table-responsive-md">
        <div class="table table-striped table-bordered table-hover">
            <div class="thead-dark border">
            <div class="row">
                <div class="col"
                    v-for="title in titles"
                    @click="sort(title.sortBy)"
                >
                    {{ title.name }}
                </div>
            </div>
            </div>
            <div>
            <div class="row"
                    v-for="user in sortedUsers"
                    @click="'bg-success'"
            >
                <div class="col">
                    <img class="img-thumbnail" v-bind:src="user.avatar">
                </div>
                <div class="col">
                    {{ user.name }}
                </div>
                <div class="col">
                    {{ user.surname }}
                </div>
                <div class="col">
                    {{ user.birthday | formatedDate}}
                </div>
                <div class="col">
                    {{ user.birthday | age }}
                </div>
                <div class="col">
                    {{ user.position }}
                </div>
                <div class="col">
                    <input type="checkbox" :checked="user.remote">
                </div>
                <div class="col">
                    {{ user.city + ' '}}{{ user.street + ' ' }}{{ user.house + ' ' }}{{ user.room + ' ' }}
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {users: Array},
        data() {
            return {
                titles: [
                    {name: 'Превью', sortBy: 'id'},
                    {name: 'Имя', sortBy: 'name'},
                    {name: 'Фамилия', sortBy: 'surname'},
                    {name: 'Дата Рождения', sortBy: 'birthday'},
                    {name: 'Возраст', sortBy: 'birthday'},
                    {name: 'Должность', sortBy: 'position'},
                    {name: 'Удаленная работа', sortBy: 'remote'},
                    {name: 'Адрес проживания', sortBy: 'id'},
                ],
                orderBy: 'name',
            }
        },
        methods: {
            sort(field) {
                this.orderBy = field;
            },
        },
        computed: {
            sortedUsers() {
                return this.users.sort((a, b) => {
                        if (a[this.orderBy] < b[this.orderBy]) {
                            return -1;
                        }
                        if (a[this.orderBy] > b[this.orderBy]) {
                            return 1;
                        }
                        return 0;
                    }
                )
            },
        },
        filters: {
            age(date) {
                let diff = Date.now() - new Date(date);
                let age_dt = new Date(diff);
                console.log(diff);
                return Math.abs(age_dt.getUTCFullYear() - 1970);
            },
            formatedDate(date) {
                return new Date(date).toLocaleDateString();
            },
        },
    }
</script>

<style scoped>
    tr {
        max-height: 10vh;
    }
</style>