<template>
    <div id="app">
        <div class="container">
            <h1>Главное окно</h1>
            <div class="search">
                <input type="search" placeholder="Search" v-model="searchString"/>
            </div>
            <buttons></buttons>
            <gridtable v-bind:users="filteredUsers"
            ></gridtable>

        </div>
    </div>
</template>

<script>
    import Gridtable from './components/table.vue'
    import Buttons from './components/buttons.vue'

    function Employee(data) {
        this.id = data.id;
        this.name = data.name;
        this.surname = data.surname;
        this.birthday = data.birthday;
        this.avatar = data.avatar;
        this.position = data.position;
        this.remote = data.remote;
        this.city = data.city;
        this.street = data.street;
        this.house = data.house;
        this.room = data.room;
    }

    export default {
        name: 'app',
        data() {
            return {
                users: [],
                searchString: ''
            }
        },
        methods: {
            read() {
                window.axios.get('/api/employees/').then((result) => {
                    result.data.data.forEach(employee => {
                        this.users.push(new Employee(employee));
                    });
                });
            },
        },
        computed: {
            filteredUsers() {
                console.log(this.searchParams);
                return this.users.filter((user) => {
                    return ~(user.name + user.surname).toLowerCase().indexOf(this.searchString.toLowerCase());
                })
            },
        },
        created() {
            this.read();
        },
        components: {
            Gridtable,
            Buttons,
        },
    }
</script>

<style>

</style>
